<%- include('header'); -%> 
<%- include('navbar'); -%>
<main>
  <div class="container mt-5 mb-5">
    <h1 class="borde_titulo">Pagina No encontrada</h1>
    <h3>La siguiente URL no pudo ser encontrada <%= url %></h3>
  </div>
</main>

<%- include('footer'); -%>
