<%- include('header'); -%> 
<%- include('navbar'); -%>
<main>
  <div class="container mt-5 mb-5">
    <h1 class="borde_titulo">Error de consulta en base de datos</h1>
    <h3>La consulta con la base de datos devolvio <%= error %></h3>
  </div>
</main>

<%- include('footer'); -%>
