<%- include('header_back'); -%>
  <main class="flex-shrink-0 d-flex flex-column">
    <div class="container-fluid">
      <div class="container" id="editor_web" style="position: fixed;left:50%;background:#dedede;height:100%">  
        <div class="d-flex" style="margin-top:5%">
          <!-- <button id="btnReset" class="btn btn-default me-3">
            <i class="fa-solid fa-rotate-right mr-2"></i> Reset
          </button>
          <button id="btnRun" class="btn btn-primary me-3">
            <i class="fa-solid fa-play mr-2"></i> Run
          </button>
          <div class="d-flex btn btn-success me-3">
            <input type="checkbox" id="btnLive" class="mr-1"/>
            <i class="fa-solid fa-clock-rotate-left mr-2"></i>
            <span class="uppercase">Live</span>
          </div> -->
          <button id="btnSave" class="btn btn-primary me-3">
            <i class="fa-solid fa fa-paper-plane mr-2"></i> Guardar
          </button>
        </div>    

        <div class="container">
          <p>Selector de sitio Web</p>
          <div class="d-flex">
            <select id="select_page">
              <% list.forEach(function(item) { %>
                <option value="<%= item %>"><%= item %></option>
              <% }); %>
            </select>
            <select id="select_language">
              <option value>--</option>
              <option value="html">HTML</option>
              <option value="css">CSS</option>
              <option value="js">JS</option>
            </select>
          </div>          
        </div>   
        <div id="editor" class="edit"></div>
      </div>
      <div class="container-fluid"><iframe class="edit mt-5" id="output" style="height: 830px;"></iframe></div>
    </div>
   
  </main>
  <script src="/js/editorController.js" type="text/javascript"></script>     
  <%- include('footer_back'); -%>
