<!DOCTYPE html>
<html lang="en">
<%- include('header'); -%>
  <body>
    <%- include('navbar'); -%>
    <main>
      <div class="container">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button
            ><button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button
            ><button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="/images/batalla_carabobo_aniv.png"
                class="d-block w-100"
                alt="Carta Nueva"
              />
            </div>
            <div class="carousel-item">
              <img
                src="/images/batalla_carabobo_aniv.png"
                class="d-block w-100"
                alt="Carta Nueva"
              />
            </div>
            <div class="carousel-item">
              <img
                src="/images/batalla_carabobo_aniv.png"
                class="d-block w-100"
                alt="Carta Nueva"
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span
            ><span class="visually-hidden">Previous</span></button
          ><button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span
            ><span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="container mt-5">
        <h4 class="borde_titulo">Estudios</h4>
        <div class="row">
          <div class="col-12 col-lg-4 col-md-4 mt-5 mb-5">
            <a href="#"
              ><img
                src="/images/velero.png"
                class="d-block w-100 img"
                alt="imagen velero"
            /></a>
          </div>
          <div class="col-12 col-lg-4 col-md-4 mt-5 mb-5">
            <a href="/pregrado"
              ><img
                src="/images/pregrado.png"
                class="d-block w-100 img"
                alt="imagen velero"
            /></a>
          </div>
          <div class="col-12 col-lg-4 col-md-4 mt-5 mb-5">
            <a href="#"
              ><img
                src="/images/postgrado.png"
                class="d-block w-100 img"
                alt="imagen velero"
            /></a>
          </div>
          <div class="col-12 col-lg-4 col-md-4 mt-5 mb-5">
            <a href="#"
              ><img
                src="/images/pnf.png"
                class="d-block w-100 img"
                alt="imagen velero"
            /></a>
          </div>
          <div class="col-12 col-lg-4 col-md-4 mt-5 mb-5">
            <a href="#"
              ><img
                src="/images/fundaumc.png"
                class="d-block w-100 img"
                alt="imagen velero"
            /></a>
          </div>
          <div class="col-12 col-lg-4 col-md-4 mt-5 mb-5">
            <a href="#"
              ><img
                src="/images/profesores.png"
                class="d-block w-100 img"
                alt="imagen velero"
            /></a>
          </div>
        </div>
      </div>
      <div class="container" style="background: #e5e5e5">
        <div class="row">
          <div class="col-4 col-lg-4 col-md-4 d-flex align-items-center">
            <a
              class="btn btn-primary mx-auto"
              style="padding: 5%; font-size: 24px"
              >Acceder Aqui</a
            >
          </div>
          <div class="col-6 col-lg-6 col-md-6">
            <img
              src="/images/zona_estudiantes.png"
              class="d-block w-100"
              alt="Carta Nueva"
            />
          </div>
          <div class="col-2 col-lg-2 col-md-2"></div>
        </div>
      </div>
      <div class="container mt-5 mb-5">
        <h4 class="borde_titulo">Nuestros Simbolos</h4>
        <div class="row">
          <div
            class="col-12 col-lg-5 col-md-5 mt-5"
            style="
              background: rgba(12, 127, 207, 0.09);
              padding: 5%;
              border-radius: 2%;
            "
          >
            <h5 class="titulo1">Logo de la Universidad Marítima del Caribe</h5>
            <p>
              El logotipo de la umc nace del emblema de la Escuela Náutica de
              Venezuela, al cual se le incorporan ligeras modificaciones: se
              sustiruye el nombre de la institución en la parte superior del
              timón, mientras que en la parte inferior se suprime la palabra
              &quot;Catia la Mar&quot; y se suplata por &quot;1.811 Venezuela
              2.000&quot;. Se incorpora en la parte inferior, a ambos lados, dos
              hélices de color rojo, que simbolizan la mención de Instalaciones
              Marinas.
            </p>
            <h5 class="titulo1">
              Estandarte de la Universidad Marítima del Caribe
            </h5>
            <p>
              El Estandarte de la Universidad Marítima del Caribe es el mismo
              que se usó desde tiempos de la Escuela Náutica de Venezuela, con
              ligeras modificaciones al sustituirse el emblema y el nombre de la
              institución, que se encuentran estampados sobre una tela de color
              azul, en dos tonalidades, sobre la cual se representa la
              constelación de la Osa Mayor que tiene la Estrella Polar como
              elemento principal que simboliza el norte verdadero para los
              navegantes.
            </p>
          </div>
          <div class="col-12 col-lg-2 col-md-2 mt-5 d-flex align-items-center">
            <img
              src="/logo/logo_umc.png"
              class="d-block w-100"
              alt="Carta Nueva"
            />
          </div>
          <div
            class="col-12 col-lg-5 col-md-5 mt-5"
            style="
              background: rgba(12, 127, 207, 0.09);
              padding: 5%;
              border-radius: 2%;
            "
          >
            <h5 class="titulo1">
              Escudo de la Escuela de Estudios Superiores de la Marina Mercante
            </h5>
            <p>
              Escudo de estilo español con configuración similar a la de los
              años 1600-1606, ribeteado en oro, medio partido y cortado. En el
              cuartel diestro del jefe un ancora en oro en fondo sinople; en el
              cuartel siniestro del jefe una propela en metal oro de tres sotuer
              en fondo de gules.
            </p>
            <p>
              En el cantón siniestro inferior un faro de argen en compage a
              tierra firme sinople, en su tope una luz en metal oro que ilumina
              el abismo argen, sobre ondas de agua en azul y plata.
            </p>
            <p>
              Sobre el jefe una corona de cañamo en tres gazas ovales en metal
              argen.
            </p>
            <p>
              El áncora de oro representa la especialidad de navegación; su
              situación en el cuartel diestro del jefe. el comando y gobierno
              del buque.
            </p>
            <h5 class="titulo1">Himno</h5>
            <p>
              El 31 de julio de 1969 el director de la Escuela Náutica de
              Venezuela, Contralmirante Francisco Lares, convocó un concurso
              para la letra del Himno de esta institución, el cual se rigió por
              las siguientes condiciones:
            </p>
          </div>
        </div>
      </div>
      <div class="container mt-5 mb-5">
        <h4 class="borde_titulo">Historia</h4>
        <div class="row">
          <div
            class="col-12 col-lg-8 col-md-6 mt-5 mb-5 me-3 ms-3 col-arreglo"
            style="
              background: rgba(12, 127, 207, 0.09);
              padding: 5%;
              border-radius: 2%;
            "
          >
            <h5 class="titulo1">El marino através de la historia</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna
              fermentum iaculis eu non diam phasellus vestibulum lorem. Massa
              sed elementum tempus egestas sed. Sed id semper risus in hendrerit
              gravida rutrum quisque non. Cras sed felis eget velit aliquet
              sagittis. A iaculis at erat pellentesque adipiscing commodo elit.
              Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper
              velit. Tincidunt vitae semper quis lectus nulla. Diam volutpat
              commodo sed egestas. Massa vitae tortor condimentum lacinia quis
              vel eros. In dictum non consectetur a erat nam. Justo laoreet sit
              amet cursus sit amet dictum sit amet. Aliquam id diam maecenas
              ultricies mi eget mauris. Mauris a diam maecenas sed. Eleifend
              quam adipiscing vitae proin sagittis. Donec massa sapien faucibus
              et molestie ac feugiat sed lectus.
            </p>
          </div>
          <div
            class="col-12 col-lg-4 col-md-6 mt-5"
            style="
              background: rgba(12, 127, 207, 0.09);
              padding: 5%;
              border-radius: 2%;
            "
          >
            <h5 class="">avisos oficiales</h5>
            <p>
              Non enim praesent elementum facilisis leo vel fringilla est
              ullamcorper. Mauris pharetra et ultrices neque ornare aenean.
              Etiam erat velit scelerisque in. Et egestas quis ipsum suspendisse
              ultrices gravida. Venenatis tellus in metus vulputate eu
              scelerisque felis imperdiet. Erat velit scelerisque in dictum non
              consectetur. Blandit turpis cursus in hac habitasse platea
              dictumst quisque. Vitae tempus quam pellentesque nec nam aliquam
              sem et. Ultrices dui sapien eget mi proin sed libero enim. Dis
              parturient montes nascetur ridiculus.
            </p>
          </div>
          <div
            class="col-12 col-lg-8 col-md-6 mt-5 mb-5 me-3 ms-3 col-arreglo"
            style="
              background: rgba(12, 127, 207, 0.09);
              padding: 5%;
              border-radius: 2%;
            "
          >
            <h5 class="titulo1">El marino através de la historia</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna
              fermentum iaculis eu non diam phasellus vestibulum lorem. Massa
              sed elementum tempus egestas sed. Sed id semper risus in hendrerit
              gravida rutrum quisque non. Cras sed felis eget velit aliquet
              sagittis. A iaculis at erat pellentesque adipiscing commodo elit.
              Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper
              velit. Tincidunt vitae semper quis lectus nulla. Diam volutpat
              commodo sed egestas. Massa vitae tortor condimentum lacinia quis
              vel eros. In dictum non consectetur a erat nam. Justo laoreet sit
              amet cursus sit amet dictum sit amet. Aliquam id diam maecenas
              ultricies mi eget mauris. Mauris a diam maecenas sed. Eleifend
              quam adipiscing vitae proin sagittis. Donec massa sapien faucibus
              et molestie ac feugiat sed lectus.
            </p>
          </div>
          <div
            class="col-12 col-lg-4 col-md-6 mt-5"
            style="
              background: rgba(12, 127, 207, 0.09);
              padding: 5%;
              border-radius: 2%;
            "
          >
            <h5 class="">avisos oficiales</h5>
            <p>
              Non enim praesent elementum facilisis leo vel fringilla est
              ullamcorper. Mauris pharetra et ultrices neque ornare aenean.
              Etiam erat velit scelerisque in. Et egestas quis ipsum suspendisse
              ultrices gravida. Venenatis tellus in metus vulputate eu
              scelerisque felis imperdiet. Erat velit scelerisque in dictum non
              consectetur. Blandit turpis cursus in hac habitasse platea
              dictumst quisque. Vitae tempus quam pellentesque nec nam aliquam
              sem et. Ultrices dui sapien eget mi proin sed libero enim. Dis
              parturient montes nascetur ridiculus.
            </p>
          </div>
          <div
            class="col-12 col-lg-8 col-md-6 mt-5 mb-5 me-3 ms-3 col-arreglo"
            style="
              background: rgba(12, 127, 207, 0.09);
              padding: 5%;
              border-radius: 2%;
            "
          >
            <h5 class="titulo1">El marino através de la historia</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna
              fermentum iaculis eu non diam phasellus vestibulum lorem. Massa
              sed elementum tempus egestas sed. Sed id semper risus in hendrerit
              gravida rutrum quisque non. Cras sed felis eget velit aliquet
              sagittis. A iaculis at erat pellentesque adipiscing commodo elit.
              Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper
              velit. Tincidunt vitae semper quis lectus nulla. Diam volutpat
              commodo sed egestas. Massa vitae tortor condimentum lacinia quis
              vel eros. In dictum non consectetur a erat nam. Justo laoreet sit
              amet cursus sit amet dictum sit amet. Aliquam id diam maecenas
              ultricies mi eget mauris. Mauris a diam maecenas sed. Eleifend
              quam adipiscing vitae proin sagittis. Donec massa sapien faucibus
              et molestie ac feugiat sed lectus.
            </p>
          </div>
          <div class="col-12 col-lg-4 col-md-4 mt-5">
            <ul class="list-unstyled">
              <li>
                <a
                  class="btn btn-primary mx-auto"
                  style="padding: 5%; font-size: 24px"
                  >Nuestros uniformes <i class="fa-solid fa-chevron-right"></i
                ></a>
              </li>
              <li>
                <a
                  class="btn btn-primary mx-auto"
                  style="padding: 5%; font-size: 24px"
                  >Filosofía de gestión</a
                >
              </li>
              <li>
                <a
                  class="btn btn-primary mx-auto"
                  style="padding: 5%; font-size: 24px"
                  >Estructura de la umc</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <%- include('footer'); -%>
  </body>
</html>
