<div class="container">
    <img class="bg-white w-full" src="/images/cabecera_1.png" alt="Navbar logo" style="max-width: 100%"/>
  </div>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor02"
          aria-controls="navbarColor02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-7 mb-2 mb-lg-0">
            <li class="nav-item me-5">
              <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item me-5">
              <a class="nav-link" href="/services"
                >Servicios</a
              >
            </li>
            <li class="nav-item me-5">
              <a class="nav-link" href="/noticias"
                >Noticias</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Dependencias</a
              >
              <ul class="dropdown-menu" style="background: #0c7fcf">
                <li>
                  <a class="dropdown-item" href="/rectorado"
                    >Rectorado</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Vicerrectorado Académico</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Vicerrectorado Administrativo</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#">Secretaria General</a>
                </li>
              </ul>
            </li>
            <li class="nav-item me-5">
              <a class="nav-link" href="#">Correo</a>
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
          </form>
        </div>
      </div>
    </nav>
  </div>