<%- include('header'); -%> <%- include('navbar'); -%>
<main>
  <div class="container mb-5 mt-5">
    <h4 class="borde_titulo mb-5">Estudios</h4>
    <div class="row">
      <div class="col-12 col-lg-12 col-md-12 mt-2 mb-2">
        <a href="#"
          ><img
            src="/images/tsu_transporte_acuatico.jpeg"
            class="d-block w-100 img"
            alt="imagen velero"
        /></a>
      </div>
      <div class="col-12 col-lg-12 col-md-12 mt-2 mb-2">
        <a href="#"
          ><img
            src="/images/ambiental.jpeg"
            class="d-block w-100 img"
            alt="imagen velero"
        /></a>
      </div>
      <div class="col-12 col-lg-12 col-md-12 mt-2 mb-2">
        <a href="#"
          ><img
            src="/images/informatica.jpeg"
            class="d-block w-100 img"
            alt="imagen velero"
        /></a>
      </div>
      <div class="col-12 col-lg-12 col-md-12 mt-2 mb-2">
        <a href="#"
          ><img
            src="/images/administracion.jpeg"
            class="d-block w-100 img"
            alt="imagen velero"
        /></a>
      </div>
      <div class="col-12 col-lg-12 col-md-12 mt-2 mb-2">
        <a href="#"
          ><img
            src="/images/turismo.jpeg"
            class="d-block w-100 img"
            alt="imagen velero"
        /></a>
      </div>
    </div>
  </div>
</main>
<%- include('footer'); -%>
