<%- include('header'); -%> <%- include('navbar'); -%>
<main>
  <div class="container mb-5">
    <div class="row">
      <div class="col-12 col-lg-4 col-md-6">
        <div id="cara_viejo_mamon">
          <div class="card" style="width: 90%">
            <div
              class="car-body"
              style="padding: 20%; padding-top: 15%; background: #0c7fcf33"
            >
              <img
                src="/images/viejo_mamon.png"
                alt="imagen viejo mamon"
                class="img img-thumbnail"
              />
              <h5>C/A Guillermo Antonio Riut</h5>
              <p>
                Non enim praesent elementum facilisis leo vel fringilla est
                ullamcorper. Mauris pharetra et ultrices neque ornare aenean.
                Etiam erat velit scelerisque in.
              </p>
              <p>
                Non enim praesent elementum facilisis leo vel fringilla est
                ullamcorper.
              </p>
              <p>
                Non enim praesent elementum facilisis leo vel fringilla est
                ullamcorper.
              </p>
              <p>
                Non enim praesent elementum facilisis leo vel fringilla est
                ullamcorper.
              </p>
              <p>
                Non enim praesent elementum facilisis leo vel fringilla est
                ullamcorper.
              </p>
              <p>
                Non enim praesent elementum facilisis leo vel fringilla est
                ullamcorper.
              </p>
              <p>
                Non enim praesent elementum facilisis leo vel fringilla est
                ullamcorper.
              </p>
            </div>
          </div>
          <div class="mt-5">
            <h4>Manuales</h4>
            <ul style="list-style: none; padding-left: 0">
              <li class="bg-institutcional">
                <a href="#" class="column_button"
                  >Manuales<i
                    class="fa fa-chevron-right justy_end"
                    aria-hidden="true"
                  ></i
                ></a>
              </li>
              <li class="bg-institutcional">
                <a href="#" class="column_button"
                  >Manual de Calidad y Procedimientos<i
                    class="fa fa-chevron-right justy_end"
                    aria-hidden="true"
                  ></i
                ></a>
              </li>
              <li class="bg-institutcional">
                <a href="#" class="column_button"
                  >Rectorado<i
                    class="fa fa-chevron-right justy_end"
                    aria-hidden="true"
                  ></i
                ></a>
              </li>
              <li class="bg-institutcional">
                <a href="#" class="column_button"
                  >Secretaria General<i
                    class="fa fa-chevron-right justy_end"
                    aria-hidden="true"
                  ></i
                ></a>
              </li>
              <li class="bg-institutcional">
                <a href="#" class="column_button"
                  >Vicerrectorado Académico<i
                    class="fa fa-chevron-right justy_end"
                    aria-hidden="true"
                  ></i
                ></a>
              </li>
              <li class="bg-institutcional">
                <a href="#" class="column_button"
                  >Vicerrectorado Administrativo<i
                    class="fa fa-chevron-right justy_end"
                    aria-hidden="true"
                  ></i
                ></a>
              </li>
            </ul>
          </div>
          <div class="mt-5">
            <ul style="list-style: none; padding-left: 0">
              <li class="bg-institutcional1 text-center">
                <a href="#" class=""
                  >Certificado de calidad<i
                    class="fa fa-chevron-right justy_end ms-4"
                    aria-hidden="true"
                  ></i
                ></a>
              </li>
              <li class="bg-institutcional1 text-center">
                <a href="#" class="">Objetivos de la calidad</a>
              </li>
              <li class="bg-institutcional1 text-center">
                <a href="#" class="">7 Principios de gestión de la calidad </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8 col-md-6">
        <div class="card mt-5">
          <div class="card-body" style="background: #e4e4e482; padding: 10%">
            <h4 class="titulo1 text-center">
              Coordinación General Consultoría Jurídica
            </h4>
            <p>
              Non enim praesent elementum facilisis leo vel fringilla est
              ullamcorper. Mauris pharetra et ultrices neque ornare aenean.
              Etiam erat velit scelerisque in.
            </p>
            <p>
              Non enim praesent elementum facilisis leo vel fringilla est
              ullamcorper. Mauris pharetra et ultrices neque ornare aenean.
              Etiam erat velit scelerisque in.
            </p>
            <p>
              Non enim praesent elementum facilisis leo vel fringilla est
              ullamcorper. Mauris pharetra et ultrices neque ornare aenean.
              Etiam erat velit scelerisque in.
            </p>
            <h4 class="titulo1 mt-5 text-center">
              Coordinación de gestión de calidad
            </h4>
            <p>
              Non enim praesent elementum facilisis leo vel fringilla est
              ullamcorper. Mauris pharetra et ultrices neque ornare aenean.
              Etiam erat velit scelerisque in. Non enim praesent elementum
              facilisis leo vel fringilla est ullamcorper. Mauris pharetra et
              ultrices neque ornare aenean. Etiam erat velit scelerisque in. Non
              enim praesent elementum facilisis leo vel fringilla est
              ullamcorper. Mauris pharetra et ultrices neque ornare aenean.
              Etiam erat velit scelerisque in.
            </p>
            <h4 class="mt-5">Politíca de calidad</h4>
            <p>
              Non enim praesent elementum facilisis leo vel fringilla est
              ullamcorper. Mauris pharetra et ultrices neque ornare aenean.
              Etiam erat velit scelerisque in. Non enim praesent elementum
              facilisis leo vel fringilla est ullamcorper. Mauris pharetra et
              ultrices neque ornare aenean. Etiam erat velit scelerisque in.
            </p>
            <h4 class="mt-5">
              Alcance de la certificación del sistema de la gestión de la
              calidad
            </h4>
            <p>
              Non enim praesent elementum facilisis leo vel fringilla est
              ullamcorper. Mauris pharetra et ultrices neque ornare aenean.
              Etiam erat velit scelerisque in.
            </p>
          </div>
        </div>
        <div class="card mt-5 ms-5">
          <div class="card-body" style="background: #e4e4e482; padding: 10%">
            <h4 class="titulo1 text-center">Comité de Calidad</h4>
            <p>
              Non enim praesent elementum facilisis leo vel fringilla est
              ullamcorper. Mauris pharetra et ultrices neque ornare aenean.
              Etiam erat velit scelerisque in. Non enim praesent elementum
              facilisis leo vel fringilla est ullamcorper. Mauris pharetra et
              ultrices neque ornare aenean. Etiam erat velit scelerisque in. Non
              enim praesent elementum facilisis leo vel fringilla est
              ullamcorper. Mauris pharetra et ultrices neque ornare aenean.
              Etiam erat velit scelerisque in.
            </p>
            <h4 class="mt-5">Gestor del conocimiento</h4>
            <p>
              Non enim praesent elementum facilisis leo vel fringilla est
              ullamcorper. Mauris pharetra et ultrices neque ornare aenean.
              Etiam erat velit scelerisque in. Non enim praesent elementum
              facilisis leo vel fringilla est ullamcorper. Mauris pharetra et
              ultrices neque ornare aenean. Etiam erat velit scelerisque in.
            </p>
            <h4 class="mt-5">formularios del sgc</h4>
            <img
              src="/images/cuadro.png"
              alt="imagen viejo mamon"
              class="img img-thumbnail w-100"
            />
            <h4 class="mt-5">Reglamento general</h4>
            <p style="font-weight: bold">Reglamento general de la umc</p>
          </div>
        </div>
        <div class="card mt-5 ms-5">
          <div class="card-body" style="background: #e4e4e482; padding: 10%">
            <h4 class="titulo1 text-center">
              Coordinación General de asuntos rectorales
            </h4>
            <p>
              Non enim praesent elementum facilisis leo vel fringilla est
              ullamcorper. Mauris pharetra et ultrices neque ornare aenean.
              Etiam erat velit scelerisque in. Non enim praesent elementum
              facilisis leo vel fringilla est ullamcorper. Mauris pharetra et
              ultrices neque ornare aenean. Etiam erat velit scelerisque in. Non
              enim praesent elementum facilisis leo vel fringilla est
              ullamcorper. Mauris pharetra et ultrices neque ornare aenean.
              Etiam erat velit scelerisque in.
            </p>
            <h4 class="mt-5">Funciones</h4>
            <p>
              Non enim praesent elementum facilisis leo vel fringilla est
              ullamcorper. Mauris pharetra et ultrices neque ornare aenean.
              Etiam erat velit scelerisque in. Non enim praesent elementum
              facilisis leo vel fringilla est ullamcorper. Mauris pharetra et
              ultrices neque ornare aenean. Etiam erat velit scelerisque in.
            </p>
            <p>
              Non enim praesent elementum facilisis leo vel fringilla est
              ullamcorper. Mauris pharetra et ultrices neque ornare aenean.
              Etiam erat velit scelerisque in. Non enim praesent elementum
              facilisis leo vel fringilla est ullamcorper. Mauris pharetra et
              ultrices neque ornare aenean. Etiam erat velit scelerisque in.
            </p>
            <h4 class="mt-5" style="font-weight: bold">
              Punto de Cuenta al Rector
            </h4>
            <h4 class="mt-5">Unidades</h4>
            <p>
              Non enim praesent elementum facilisis leo vel fringilla est
              ullamcorper. Mauris pharetra et ultrices neque ornare aenean.
              Etiam erat velit scelerisque in.
            </p>
            <h4>C. G. Asuntos Rectorales</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('footer'); -%>
